[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
nltk = "*"
pydantic = "*"
sacremoses = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
pydocstyle = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
