[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sacremoses = "*"
bs4 = "*"
pydantic = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
mypy = "*"
pydocstyle = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
